body {
    background-color: #BFB6AE;
}

fieldset {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    background-color: #F2EFEB;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 25px;
}